<div class="container-fluid content-wrapper mt-1">
  <section class="content">
    <div class="card text-center bg-danger text-light mb-2 mt-2">
      <h5>212102439 - Andi Chia</h5>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="table-responsive">
          <table
            id="table1"
            class="table table-hover table-bordered table-striped"
          >
            <thead>
              <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Tempat, Tanggal Lahir</th>
                <th>JP</th>
                <th>Alamat</th>
                <th>Status</th>
                <th>Tahun Masuk</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
